/* registro.css */

.register-button {
    background-color: #28a745; /* Un verde */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #1e7e34;
}
/* registro.css */

.register-button {
    background-color: #28a745; /* Un verde */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #1e7e34;
}

/* Estilos para el mensaje de registro exitoso */
.alert-message {
    background-color: #d4edda; /* Fondo verde claro */
    color: #155724; /* Texto verde oscuro */
    border: 1px solid #c3e6cb; /* Borde verde claro */
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px; /* Espacio superior para separarlo del formulario */
    text-align: center; /* Centrar el texto */
}

/* Podrías agregar otros estilos específicos de la página de registro aquí */